:root {
    --primary-blue : rgb(28, 28, 185);
}

/* Tags */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color: #f3f3f3;
    color: black;
    min-height: 100vh;
    overflow-x: hidden;
}
html { scroll-behavior: smooth; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    cursor: pointer;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
/* End Tags */


/* Classes */
.brand-name-sp {
    color: yellow;
}
.none {
    display: none;
}
.nav-link.nav-link-active {
    color: yellow;
}

/* End of Classes */



/* News */
.news-section-container {
    margin-top: 40px;
    padding: 40px;
    background-color: white;
}
.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.news-control {
    margin-right: 10px;
    width: 300px;
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
    border-left: 1px dotted black;
    height: 310px;
}
.news-img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.special-news-header {
    font-weight: 600;
    color: rgb(28, 28, 185);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.news-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    color: black;
    text-align: center;
}
.news-heading:hover {
    color: rgb(28, 28, 185);
}

/* End of News */

/* Jump To Top */
.jump-to-top {
    position: fixed;
    top: 80%;
    right: 2%;
    background-color: yellow;
    padding: 5px;
    border-radius: 30px;
    z-index: 100;
    opacity: 0.8;
    color: black;
}

.jump-to-top:hover {
    opacity: 1;
}

/* End Jump To Top */



/* Slideshow container */
.slideshow-container {
    width: 100vw;
    position: relative;
    margin: auto;
  
    height: 100%;
    overflow: hidden;
}

.mySlides .showcase-slides-img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}


/* Next & previous buttons */
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  padding-right: 30px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.mySlides .text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  right: 70px;
  text-align: center;

  /* transform: translateX(30%); */
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

/* Number text (1/3 etc) */
.slideshow-container .numbertext {
    display: none;
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
}

/* The dots/bullets/indicators */
.slide-dot-container {
    position: absolute;
    top: 60%;
    right: 25px;
    display: flex;
    flex-direction: column;
}

.slide-dot-container .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px 5px 2px;
    /* background-color: #bbb; */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.slide-dot-container .active, .slide-dot-container .dot:hover {
  /* background-color: #717171; */
  background-color: yellow;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/* Mobile Responsive */

@media only screen and (max-width: 750px) {
    .jump-to-top { 
        position: fixed;
        top: 89%;
        right: 0;
        background-color: yellow;
        color: black;
        padding: 5px;
        border-radius: 8px;
        z-index: 100;
        width: 55px;
        text-align: center;
    }
}